<!--Nonlocalized-->
<br/>
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <h4 class="text-center"><%= t('views.devise.confirmations.new.title') %></h4>
        <%= form_error_helper(resource) %>

        <%= field_maker(f, 'small-12', :email, 'email_field', {autofocus: 'off', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)}, '') %>

        <div class="actions">
          <%= f.submit t('views.devise.confirmations.new.buttons.send_confirmation_instructions'), class: 'button small' %>
        </div>
        <%= render 'devise/shared/links' %>
    <% end %>
  </div>
</div>

