Hi <%= @user.full_name %>,

<%= @intro %> has been triggered!

<%= Formatter.format_text(I18n.t("mailers.stock_alert_mailer.notify_price_sms.message.#{@alert.class.partial_name}", ticker: @stock.ticker), @alert.short_view_params) %>

Sincerely,

StockBuddy

To reset this stock alert go here: <%= @link %>. You will not get another email until the stock alert is reset.

You can turn off these email notifications in your StockBuddy settings.
