<p>
  Hi <%= @user.full_name %>,
</p>
<p>
  <%= @intro %> has been triggered!
</p>
<%= render 'stock_alert_mailer/alert_mail/' + @alert.class.partial_name %>

<p>To reset this stock alert click <%= link_to 'here', @link %>. You will <strong>not</strong> get another email until the stock alert is reset.</p>

<p>Sincerely,</p>

<p>StockBuddy</p>

<p>You can turn off these email notifications in your StockBuddy <%= link_to 'settings', edit_user_setting_url(@user.user_setting) %>.</p>
