<!--Nonlocalized-->
<h2><%= t('views.devise.registrations.edit.title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= form_error_helper(resource) %>

    <%= field_maker(f, 'small-12 medium-6', :first_name, 'text_field', {}, t('general.fields.labels.first_name')) %>

    <%= field_maker(f, 'small-12 medium-6', :last_name, 'text_field', {}, t('general.fields.labels.last_name')) %>

    <%= field_maker(f, 'small-12 medium-6', :email, 'email_field', {}, t('general.fields.labels.email')) %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('views.devise.registrations.edit.waiting_for_confirm', unconfirmed_email: resource.unconfirmed_email) %></div>
    <% end %>

    <%= field_maker(f, 'small-12 medium-6', :password, 'password_field', {autocomplete: 'off'}, t('general.fields.labels.password'), false, t('views.devise.registrations.edit.fields.password.tip')) %>

    <%= field_maker(f, 'small-12 medium-6', :password_confirmation, 'password_field', {autocomplete: 'off'}, t('general.fields.labels.password_confirmation')) %>

    <%= field_maker(f, 'small-12 medium-6', :current_password, 'password_field', {autocomplete: 'off'}, t('general.fields.labels.current_password'), true, t('views.devise.registrations.edit.fields.current_password.tip')) %>

    <div class="actions">
      <%= f.submit t('general.actions.update.button'), class: 'button small' %>
    </div>
<% end %>

<h3><%= t('views.devise.registrations.edit.cancel_my_account.text') %></h3>
<%= link_to t('views.devise.registrations.edit.cancel_my_account.text'), registration_path(resource_name), data: {confirm: t('views.devise.registrations.edit.cancel_my_account.tip')}, method: :delete, class: 'button tiny' %>


