<!--Nonlocalized-->
<br />
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h4 class="text-center"><%= t('views.devise.registrations.new.title') %></h4>
        <%= form_error_helper(resource) %>

        <%= field_maker(f, 'small-12', :first_name, 'text_field', {autofocus: true}, t('general.fields.labels.first_name'), true) %>

        <%= field_maker(f, 'small-12', :last_name, 'text_field', {}, t('general.fields.labels.last_name'), true) %>

        <%= field_maker(f, 'small-12', :email, 'email_field', {}, t('general.fields.labels.email'), true) %>

        <%= field_maker(f, 'small-12', :password, 'password_field', {autocomplete: 'off'}, t('general.fields.labels.password'), true, @minimum_password_length ? t('views.devise.passwords.edit.fields.tip.minimum_length', count: @minimum_password_length) : '') %>

        <%= field_maker(f, 'small-12', :password_confirmation, 'password_field', {autocomplete: 'off'}, t('general.fields.labels.password_confirmation'), true) %>

        <p><%= recaptcha_tags if @captcha_on %></p>

          <div class="actions">
            <p><%= t('views.devise.registrations.new.agree_to') %> <%= link_to t('views.devise.registrations.new.terms_of_service'), public_terms_of_service_path %>.</p>
            <%= f.submit t('views.devise.registrations.new.title'), class: 'button small' %>
          </div>
      <%= render 'devise/shared/links' %>
    <% end %>
    
  </div>
</div>