<%= form_for(@stock_alert.becomes(StockAlert)) do |f| %>
    <br/>
    <%= f_row do %>
        <%= f_columns([:medium_12]) do %>
            <h2><%= t('views.stock_alerts.form.title') %></h2>
        <% end %>
    <% end %>

    <%= form_error_helper(@stock_alert) %>

    <%= f_row do %>
        <%= f_columns([:large_6, :medium_8, :small_12]) do %>
            <%= f.select :type, StockAlert.subtypes.collect {|klass| [klass.select_text, klass.name]}, include_blank: true %>
        <% end %>
        <%= f_columns([:large_6, :medium_4, :small_12], {id: 'stock_alert_input'}) do %>
            <!-- Space for specific stock alert form partial to be added based on selected stock alert desired -->
        <% end %>
    <% end %>
    <%= f_row do %>
        <%= f_columns([:large_1, :medium_1, :small_2]) do %>
            <h3><%= 'for' %></h3>
        <% end %>
        <%= f_columns([:large_5, :medium_7, :small_10, :end]) do %>
            <%= f.select :stock_list_id, @stock_list_ids, include_blank: true %>
        <% end %>
    <% end %>
    <%= f_row do %>
        <%= f_columns([:large_2, :medium_3, :small_12]) do %>
            <h3><%= 'with name' %></h3>
        <% end %>
        <%= f_columns([:large_4, :medium_5, :small_12, :end]) do %>
            <%= f.text_field :alert_name, placeholder: t('views.stock_alerts.form.optional_field') %>
        <% end %>
    <% end %>

    <!-- Cannot move the selectInput out to another file due to the dependency on the form (f) variable in the erb code. -->
    <script>
        // Reduce duplication
        var stock_alert_type = '#stock_alert_type';
        var stock_alert_input = '#stock_alert_input';
        // On document ready then render the appropriate partial
        $(document).ready(function () {
            selectInput()
        });
        // Render the appropriate partial on change
        $(stock_alert_type).change(function () {
            selectInput()
        });

        function selectInput() {
            $(stock_alert_input).empty(); // Clear out previous partials/input
            var selected = $(stock_alert_type).val();
            var toRender = "";
            switch (selected) {
                // Figure out which partial to show
                // The partials are rendered on the server before being sent over - the JS just chooses which to show - so there is a performance penalty for having to show all the options
                case 'AboveAverageVolume':
                    toRender = "<%= j render_alert_form(AboveAverageVolume, f) %>";
                    break;
                case 'New52WeekHigh':
                    toRender = "<%= j render_alert_form(New52WeekHigh, f) %>";
                    break;
                case 'New52WeekLow':
                    toRender = "<%= j render_alert_form(New52WeekLow, f) %>";
                    break;
                case 'PriceGreaterThan':
                    toRender = "<%= j render_alert_form(PriceGreaterThan, f) %>";
                    break;
                case 'PriceLessThan':
                    toRender = "<%= j render_alert_form(PriceLessThan, f) %>";
                    break;
                case 'PriceDecreaseAmount':
                    toRender = "<%= j render_alert_form(PriceDecreaseAmount, f) %>";
                    break;
                case 'PriceDecreasePercent':
                    toRender = "<%= j render_alert_form(PriceDecreasePercent, f) %>";
                    break;
                case 'PriceIncreaseAmount':
                    toRender = "<%= j render_alert_form(PriceIncreaseAmount, f) %>";
                    break;
                case 'PriceIncreasePercent':
                    toRender = "<%= j render_alert_form(PriceIncreasePercent, f) %>";
                    break;
                case 'PriceRange':
                    toRender = "<%= j render_alert_form(PriceRange, f) %>";
                    break;
                // ADD NEW TYPES HERE
                default:
                    toRender = "";
            }
            if (toRender) { // if there is something to render - render it
                $(stock_alert_input).append(toRender); // input new partial for selected stock alert
            }
        }
    </script>

    <div class="actions">
      <%= f.submit class: 'button small' %>
    </div>

<% end %>

