<ul class="accordion" data-accordion>
  <% @stock_alerts.each do |stock_alert| %>
      <li class="accordion-navigation">
        <a href="#stock_alert_<%=stock_alert.id%>"><%= stock_alert.unlinked_description %></a>
        <div id="stock_alert_<%=stock_alert.id%>" class="content">
          <p>Alert name: <%= stock_alert.alert_name %></p>
          <p>Is triggered: <%= stock_alert.triggered %>
            <strong><%= link_to t('general.actions.reset'), reset_trigger_stock_alert_path(id: stock_alert, reset_token: stock_alert.reset_token) unless !stock_alert.triggered %></strong></p>
          <%= link_to t('general.actions.edit'), edit_stock_alert_path(stock_alert), class: 'tiny button' %>
          <%= link_to t('general.actions.delete'), stock_alert, method: :delete, data: {confirm: t('general.confirm.are_you_sure')}, class: 'tiny button' %>
        </div>
      </li>
  <% end %>
</ul>
<%= paginate @stock_alerts %>
