<table>
  <thead>
  <tr>
    <th><%= t('views.stock_alerts.index.table.headers.column1') %></th>
    <th><%= t('views.stock_alerts.index.table.headers.column2') %></th>
    <th><%= t('views.stock_alerts.index.table.headers.column3') %></th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @stock_alerts.each do |stock_alert| %>
      <tr>
        <td><%= stock_alert.alert_name %> </td>
        <td><%= stock_alert.description %></td>
        <td><%= stock_alert.triggered %>
          <strong><%= link_to t('general.actions.reset'), reset_trigger_stock_alert_path(id: stock_alert, reset_token: stock_alert.reset_token) unless !stock_alert.triggered %></strong>
        </td>
        <td><%= dropdown_helper(stock_alert.class.to_s + stock_alert.id.to_s, t('views.stock_alerts.index.options.label'), [
            (link_to t('general.actions.edit'), edit_stock_alert_path(stock_alert)),
            (link_to t('general.actions.delete'), stock_alert, method: :delete, data: {confirm: t('general.confirm.are_you_sure')})
        ], 'tiny') %></td>
      </tr>
  <% end %>
  </tbody>
</table>