<h2><%= t('views.stock_alerts.index.title') %></h2>
<%= f_row do %>
    <%= f_columns([:small_12, :medium_2]) do %>
        <%= dropdown_helper('filter', t('views.stock_alerts.index.filter.title'),
                            [link_to(t('views.stock_alerts.index.filter.filter1'), stock_alerts_path(alert_for: params[:alert_for])),
                             link_to(t('views.stock_alerts.index.filter.filter2'), stock_alerts_path(with_trigger_status: true, alert_for: params[:alert_for])),
                             link_to(t('views.stock_alerts.index.filter.filter3'), stock_alerts_path(with_trigger_status: false, alert_for: params[:alert_for])),
                             link_to(t('views.stock_alerts.index.filter.filter4'), stock_alerts_path)], 'tiny') %>
    <% end %>
    <%= f_columns([:small_8, :medium_5]) do %>
        <%= page_entries_info @stock_alerts, entry_name: t('models.stock_alerts.name.single').downcase %>
    <% end %>
    <%= f_columns([:small_4, :medium_2, :end]) do %>
        <%= link_to t('views.stock_alerts.index.new.text'), new_stock_alert_path, class: 'tiny button' %>
    <% end %>
<% end %>

<!-- Conditional visibility based on screen size -->
<div class="show-for-medium-up">
  <%= render 'stock_alert_listing_table' %>
</div>

<div class="show-for-small-only">
  <%= render 'stock_alerts_listing_accordion' %>
</div>



