<%= f_row do %>
    <%= f_columns([:large_1, :medium_1, :small_1]) do %>
        <h5 class="right">$</h5>
    <% end %>
    <%= f_columns([:large_5, :medium_11, :small_11]) do %>
        <%= render 'stock_alerts/alert_forms/basic_input', f: f %>
    <% end %>
    <%= f_columns([:large_6, :medium_12, :small_12]) do %>
        <% if defined?(hint) && !hint.blank? %>
            <%= hint %>
        <% end %>
    <% end %>
<% end %>