<%= f_row do %>
    <%= f_columns([:large_5, :medium_11, :small_11]) do %>
        <%= render 'stock_alerts/alert_forms/basic_input', f: f %>
    <% end %>
    <%= f_columns([:large_7, :medium_1, :small_1]) do %>
        <%= yield %>
        <% if defined?(hint) && !hint.blank? %>
            <%= hint %>
        <% end %>
    <% end %>
<% end %>