<%= f_row do %>
    <%= f_columns([:small_1]) do %>
        <h5 class="right">$</h5>
    <% end %>
    <%= f_columns([:small_4]) do %>
       <%= text_field_tag :min, @stock_alert.get_safe_attribute(:min), class: 'numeric' %>
    <% end %>
    <%= f_columns([:small_2]) do %>
        <h5 class="right">and&nbsp;&nbsp;$</h5>
    <% end %>
    <%= f_columns([:small_4]) do %>
        <%= text_field_tag :max, @stock_alert.get_safe_attribute(:max), class: 'numeric' %>
    <% end %>
    <%= f_columns([:small_1]) do %>
      <!--Empty-->
    <% end %>
<% end %>