<!--Nonlocalized-->
<h2><%= t('views.devise.passwords.edit.title') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <%= form_error_helper(resource) %>
    <%= f.hidden_field :reset_password_token %>

    <%= field_maker(f, 'small-6', :password, 'password_field', {autofocus: true, autocomplete: 'off'}, t('views.devise.passwords.edit.fields.new_password'), true, @minimum_password_length ? t('views.devise.passwords.edit.fields.tip.minimum_length', count: @minimum_password_length) : '') %>

    <%= field_maker(f, 'small-6', :password_confirmation, 'password_field', {autocomplete: 'off'}, t('views.devise.passwords.edit.fields.confirm_new_password'), true) %>


    <div class="actions">
      <%= f.submit t('views.devise.passwords.edit.button.change_password'), class: 'button small' %>
    </div>
<% end %>

<%= render 'devise/shared/links' %>
