<!--Nonlocalized-->
<br />
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <h4 class="text-center"><%= t('views.devise.passwords.new.title') %></h4>
        <%= form_error_helper(resource) %>
        <%= field_maker(f, 'small-12', :email, 'email_field', {autofocus: true}, t('general.fields.labels.email')) %>

        <div class="actions">
          <%= f.submit t('views.devise.passwords.new.buttons.send_reset_instructions'), class: 'button small' %>
        </div>
        <%= render 'devise/shared/links' %>
    <% end %>
  </div>
</div>