<div id="more_info_modal" class="reveal-modal" data-reveal aria-labelledby="info_title" aria-hidden="true" role="dialog">
  <h2 id="info_title"></h2>
  <br/>
  <table width="100%">
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.current_price') %></td>
      <td id="info_current_price"></td>
      <td><%= t('views.shared.more_asset_info.fields.volume') %></td>
      <td id="info_volume"></td>
    </tr>
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.open') %></td>
      <td id="info_open"></td>
      <td><%= 'Average Volume' %></td>
      <td id="info_average_volume"></td>
    </tr>
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.high') %></td>
      <td id="info_high"></td>
      <td><%= t('views.shared.more_asset_info.fields.change') %></td>
      <td id="info_change"></td>
    </tr>
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.low') %></td>
      <td id="info_low"></td>
      <td><%= t('views.shared.more_asset_info.fields.change_percentage') %></td>
      <td id="info_change_percentage"></td>
    </tr>
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.close') %></td>
      <td id="info_close"></td>
      <td><%= t('views.shared.more_asset_info.fields.previous_close') %></td>
      <td id="info_previous_close"></td>
    </tr>
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.52_week_high') %></td>
      <td id="info_52_week_high"></td>
      <td><%= 'Asset Class' %></td>
      <td id="info_asset_class"></td>

    </tr>
    <tr>
      <td><%= t('views.shared.more_asset_info.fields.52_week_low') %></td>
      <td id="info_52_week_low"></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <p><%= t('views.shared.more_asset_info.missing_data_warning') %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>