<%#
# Sidebar

This partial is used to display the sidebar in Administrate.
By default, the sidebar contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<ul class="sidebar__list">
  <!--Sign out option-->
  <li>
    <%= link_to(t('views.layouts.menu.options.log_out.label'),
                destroy_user_session_path,
                {class: 'sidebar__link sidebar__link--inactive',
                :method => :delete}) %>
  </li>
  <hr />
  <% AdminDashboardHelper.processSideBarResources(Administrate::Namespace.new(namespace).resources).each do |resource| %>
    <li>
      <%= link_to(
        display_resource_name(resource),
        [namespace, resource.path],
        class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
      ) %>
    </li>
  <% end %>
</ul>
