<ul class="title-area">
  <li class="name">
    <h1><%= link_to image_tag('long_white_logo_hq.png', width: '225px'), root_path, class: 'logo-small logo-large' %></h1>
  </li>
  <li class="toggle-topbar menu-icon">
    <a href="#"><span><%= t('views.layouts.menu.title') %></span></a>
  </li>
</ul>