<ul class="right">
  <li>
    <%= link_to t('views.devise.shared.sign_up'), new_registration_path(User) %>
  </li>
  <li>
    <%= link_to t('views.devise.shared.log_in'), new_session_path(User) %>
  </li>
</ul>