<ul class="left">
  <!-- Eventually will go to an account dashboard -->
  <li><%= link_to "<i class=\"fi-home\"></i> ".html_safe + t('views.layouts.menu.options.home.label'), watched_stocks_path %></li>
  <li class="has-dropdown">
    <%= link_to t('views.layouts.menu.options.stocks.label'), watched_stocks_path %>
    <ul class="dropdown">
      <li><%= link_to t('views.layouts.menu.options.watched_stocks.label'), watched_stocks_path %></li>
      <li><%= link_to t('views.layouts.menu.options.stock_alerts.label'), stock_alerts_path %></li>
    </ul>
  </li>
  <li class="has-form">
    <%= render 'stock_search/search_topbar', search_size: 'small-8 medium-7 large-7', button_size: 'small-4 medium-5 large-5', area_specific_class: '' %>
  </li>
</ul>

<ul class="right">
  <li class="has-dropdown">
    <%= link_to t('views.layouts.menu.options.my_account.label'), edit_registration_path(current_user) %>
    <ul class="dropdown">
      <li><%= link_to t('views.layouts.menu.options.profile.label'), edit_registration_path(current_user) %></li>
      <li><%= link_to t('views.layouts.menu.options.settings.label'), edit_user_setting_path(current_user.user_setting) %></li>
      <li><%= link_to t('views.layouts.menu.options.log_out.label'), destroy_user_session_path, :method => :delete %></li>
    </ul>
  </li>
</ul>