<%= form_tag('/search', method: 'get') do %>
    <div class="row collapse">
      <!-- search_size defined as a variable passed to the partial -->
      <div class="small-7 columns">
        <%= text_field_tag(:q, nil, placeholder: t('views.shared.search.placeholder')) %>
      </div>
      <div class="small-5 columns">
        <%= button_tag(icon_helper('magnifying-glass', :inline) + ' ' + t('views.shared.search.button'), class: "search_box") %>
      </div>
    </div>
<% end %>