<br/>

<%= render 'search_main' %>


<br/>

<% if @symbols.present? && !@symbols.empty? %>
    <h3><%= t('views.stock_search.search.title') %></h3>
    <% @symbols.each do |sym| %>
        <%= f_row do %>
            <hr/>
            <!-- Name/Info -->
            <%= f_columns([:medium_7]) do %>
                <h5><%= sym[:name] %> (<%= sym[:symbol] %>)</h5>
            <% end %>
            <!-- Actions -->
            <%= f_columns([:medium_5]) do %>
                <ul class="button-group right">
                  <%= link_to icon_helper('eye', :inline) + ' ' + t('views.stock_search.search.watch_stock'), add_watched_stock_path(to_watch: sym[:symbol]), class: 'small button' %>
                  <%= link_to icon_helper('info', :inline) + ' ' + 'More Info', '#', class: 'small button stock_info', :'data-link' => sym[:symbol], :'data-reveal-id' => 'more_info_modal' %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <p><%= t('views.stock_search.search.no_results') %></p>
<% end %>
<%= render 'shared/more_asset_info' %>

<script>
  // On click of a stock_info class link the data-link field contains the ticker and that will be searched and populate a modal.
    $(".stock_info").click(function () {
        var ticker = this.getAttribute("data-link");
        getAssetInfo(ticker, populateAssetInfo);

        // Should we also trigger the modal here instead of the link?
        // $('#search_info_modal').foundation('reveal', 'open');
        // Answer: No, when triggering it via JS it does not know what position to be at when the modal is triggered so the user may not see it
    });
</script>