<!--Nonlocalized-->
<br />
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <%= form_for(@contact, url: contacts_path) do |f| %>
        <h4 class="text-center"><%= t('views.contact_requests.title') %></h4>
        <p>Suggestions and questions are welcome!</p>
        <%= form_error_helper(@contact) %>

        <%= field_maker(f, 'small-12', :name, 'text_field', {autofocus: true}, t('general.fields.labels.name'), true) %>

        <%= f.hidden_field :nickname %>

        <%= field_maker(f, 'small-12', :email, 'email_field', {}, t('general.fields.labels.email'), true) %>

        <%= field_maker(f, 'small-12', :message, 'text_area', {}, t('general.fields.labels.message'), true) %>

        <div class="actions">
          <%= f.submit t('general.actions.send'), class: 'button small' %>
        </div>
    <% end %>
  </div>
</div>
