<h2><%= t('views.user_settings.edit.title') %></h2>
<%= form_for(@settings) do |f| %>
    <%= form_error_helper(@settings) %>
    <br/>
    <!-- Primary fields -->
    <%= field_maker(f, 'small-12', :alert_email, 'check_box', {}, t('views.user_settings.edit.alert_via_email.message'), false, '', '', nil, true) %>
    <%= field_maker(f, 'small-12', :alert_sms, 'check_box', {}, t('views.user_settings.edit.alert_via_sms.message'), false, '', '', nil, true) %>

    <%= render 'user_settings/phone_infos/edit_phone_infos', f: f %>

    <div class="actions">
      <%= f.submit t('views.user_settings.edit.save'), class: 'button small' %>
    </div>

<% end %>

