<!--Nonlocalized-->
<br/>
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <h4 class="text-center"><%= t('views.devise.sessions.new.title') %></h4>
        <%= field_maker(f, 'small-12', :email, 'email_field', {autofocus: true}, t('general.fields.labels.email')) %>

        <%= field_maker(f, 'small-12', :password, 'password_field', {autocomplete: false}, t('general.fields.labels.password')) %>

        <% if devise_mapping.rememberable? -%>
            <%= field_maker(f, 'small-12', :remember_me, 'check_box', {}, t('general.fields.labels.remember_me'), false, '', '', nil, true) %>
        <% end -%>
        <div class="actions">
          <%= f.submit t('views.devise.sessions.new.title'), class: 'button small' %>
        </div>
        <%= render 'devise/shared/links' %>

    <% end %>

  </div>
</div>