// Place all the styles related to the stock_search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 55em) {
  button.search_box {
    padding-top: 0.49rem;
    top: 0px;
  }
}
