<!--localized-->
<p><%= t('general.greetings.hello', reference: @resource.email) %></p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>Sincerely,</p>

<p>StockBuddy</p>
