<p><%= @stock.ticker %>'s volume is above your threshold of <%= formatted_percentage(@alert.value) %></p>

<table>
  <tr>
    <th>Current volume</th>
    <th>Average volume</th>
    <th>Change</th>
  </tr>
  <tr>
    <td><%= @stock.volume %></td>
    <td><%= @stock.average_volume %></td>
    <td><%= formatted_percentage(@alert.class.calc_change(@stock))%></td>
  </tr>
</table>