<p>A new 52 week high has been reached!</p>
<table>
  <tr>
  <th>Current price</th>
  <th>Previous High</th>
  <th>New High</th>
  </tr>
  <tr>
    <td><%= formatted_currency(@stock.current_price) %></td>
    <td><%= formatted_currency(@stock.prev_week_52_high) %></td>
    <td><%= formatted_currency(@stock.week_52_high) %></td>
  </tr>
</table>
