<p>A new 52 week low has been reached!</p>
<table>
  <tr>
    <th>Current price</th>
    <th>Previous Low</th>
    <th>New Low</th>
  </tr>
  <tr>
    <td><%= formatted_currency(@stock.current_price) %></td>
    <td><%= formatted_currency(@stock.prev_week_52_low) %></td>
    <td><%= formatted_currency(@stock.week_52_low) %></td>
  </tr>
</table>