<p>Current price of <%= formatted_currency(@stock.current_price) %> for <%= @stock.ticker %> is <strong>between</strong> the trigger range (<%= formatted_currency(@alert.min) + '-' + formatted_currency(@alert.max) %>)</p>