<div data-alert class="alert-box info radius">
  <strong>Please note:</strong>
  <ul>
    <li>Until an entered phone is confirmed via SMS the phone will NOT receive any alerts.</li>
    <li>If a phone number is changed after it has been verified, don't forget to reverify it!</li>
    <li>Some carriers add extra text to the end of SMS updates, this can be ignored.</li>
    <li>StockBuddy does NOT charge for SMS service but standard carrier SMS rates apply.</li>
    <li>Carrier charges are the user's responsibility.</li>
    <li>Currently, StockBuddy supports US phone numbers only.</li>
  </ul>
</div>