<div id="phone_settings">
  <hr>
  <h4><%= t('views.user_settings.phone_infos.title') %></h4>
  <%= render 'user_settings/phone_infos/disclaimer' %>

  <%= f.fields_for :phone_infos do |phone| %>
      <div class="row">
        <div class="medium-6 columns">
          <%= field_maker(phone, 'small-12', :phone_number, 'text_field', {placeholder: t('views.user_settings.phone_infos.form.phone_number.placeholder')}) %>
        </div>
        <% if phone.object.needs_confirming %>
            <div class="medium-3 columns">
              <%= field_maker(phone, 'small-12', :code_to_verify, 'text_field', {placeholder: t('views.user_settings.phone_infos.form.code_to_verify.placeholder')}, t('views.user_settings.phone_infos.form.code_to_verify.label'), true) %>
            </div>
            <div class="medium-3 columns">
              <br/>
              <!-- Ideally would not need the br but in order to make it somewhat aligned this is the simplest solution -->
              <ul class="button-group">
                <%= f.submit t('views.user_settings.phone_infos.form.verify_phone'), class: 'tiny button' %>
                <%= link_to t('views.user_settings.phone_infos.form.resend_code'), user_setting_resend_sms_verification_code_path(@settings, phone: phone.object), class: 'tiny button' %>
              </ul>
            </div>
        <% else %>
            <div class="medium-6 columns">
              <% if phone.object.can_send %>
                  <%= tool_tip_helper(t('views.user_settings.phone_infos.form.verified.text'), icon_helper('check', :h1)) %>
              <% end %>
              <!--Else clause left out - this is for the blank built phone on the form page -->
            </div>
        <% end %>
      </div>


      <%= field_maker(phone, 'medium-6', :carrier, 'select', {include_blank: true}, '', false, '', '', carrier_collection) %>

      <%= f_row do %>
          <%= f_columns([:large_3]) do %>
              <%= field_maker(phone, 'small-6', :primary, 'check_box', {}, '', false, '', '', nil, true) %>
          <% end %>
          <%= f_columns([:large_9]) do %>
              <%= field_maker(phone, 'small-6', :_destroy, 'check_box', {}, t('views.user_settings.phone_infos.form.remove_phone'), false, '', '', nil, true) unless phone.object.new_record? %>
          <% end %>
      <% end %>
      <hr>
  <% end %>
</div>