<% watched_stock = stock_list_item.watched_stock.decorate %>
<div class="large-4 medium-6 small-12 columns <%= is_end ? 'end' : '' %>">
  <ul class="pricing-table">
    <li class="title"><%= link_to("#{watched_stock.name} (#{watched_stock.ticker})", '#', class: 'stock_info quick_view_stock', :'data-link' => watched_stock.ticker, :'data-reveal-id' => 'more_info_modal') %></li>
    <li class="price"><%= watched_stock.current_price %></li>
    <li class="description"><%= t('views.watched_stocks.watched_stock_display.watching_since', date_time: formatted_created_at(stock_list_item)) %></li>
    <!--<li class="bullet-item">Today's high: </li>-->
    <!--<li class="bullet-item">Today's low: </li>-->
    <li class="bullet-item"><%= pluralize(stock_list_item.stock_alerts.length, t('views.watched_stocks.watched_stock_display.alert')) %></li>
    <li class="cta-button">
      <%= f_row do %>
          <%= f_columns([:small_12]) do %>
              <%= dropdown_helper(watched_stock.class.to_s + watched_stock.id.to_s, t('views.watched_stocks.watched_stock_display.menu.actions'), [
                  link_to(t('views.watched_stocks.watched_stock_display.menu.add_alert'), new_stock_alert_path(alert_for: stock_list_item.id)),
                  link_to(t('views.watched_stocks.watched_stock_display.menu.view_alert'), stock_alerts_path(alert_for: stock_list_item.id)),
                  link_to(t('views.watched_stocks.watched_stock_display.menu.quick_view'), '#', class: 'stock_info', :'data-link' => watched_stock.ticker, :'data-reveal-id' => 'more_info_modal'),
                  link_to(t('views.watched_stocks.watched_stock_display.menu.remove'), stock_list_path(id: stock_list_item), method: :delete, data: {confirm: t('general.confirm.are_you_sure')})
              ]) %>
          <% end %>
      <% end %>
    </li>
  </ul>
</div>