<h2><%= t('views.watched_stocks.index.title') %></h2>
<% if @watched_stocks.empty? %>
    <p><%= t('views.watched_stocks.index.no_watched_stocks') %></p>
<% end %>
<div class="row">
  <% @watched_stocks.each do |stock_list_item| %>
      <%= render 'watched_stock_display', stock_list_item: stock_list_item, is_end: @watched_stocks.last == stock_list_item %>
  <% end %>
</div>
<%= paginate @watched_stocks %>
<%= render 'shared/more_asset_info' %>

<script>
    // On click of a stock_info class link the data-link field contains the ticker and that will be searched and populate a modal.
    $(".stock_info").click(function () {
        var ticker = this.getAttribute("data-link");
        getAssetInfo(ticker, populateAssetInfo);

        // Should we also trigger the modal here instead of the link?
        // $('#search_info_modal').foundation('reveal', 'open');
        // Answer: No, when triggering it via JS it does not know what position to be at when the modal is triggered so the user may not see it
    });
</script>


