<!--Localized -->
<header>
  <div class="row">
    <div class="small-12 columns text-center">
      <br/>
      <h1>StockBuddy, stock tracking made simple.</h1>
    </div>
  </div>
</header>
<br>
<div class="row">
  <div class="medium-3 large-3 text-center columns">
    <%= image_tag('home/watch_stock.png', @image_options) %>
    <h4>Watch Stocks</h4>
    <p>Keep tabs on the stocks that matter most to you.</p>
  </div>
  <div class="medium-3 large-3 text-center column">
    <%= image_tag('home/triggers.png', @image_options) %>
    <h4>Custom Triggers</h4>
    <p>Create custom triggers for each stock.</p>
  </div>
  <div class="medium-3 large-3 text-center column">
    <%= image_tag('home/email_and_sms.png', @image_options) %>
    <h4>Alerts</h4>
    <p>Get alerted by email and/or SMS when triggers are activated.</p>
  </div>
  <div class="medium-3 large-3 text-center column">
    <%= image_tag('home/free.png', @image_options) %>
    <h4>Free</h4>
    <p>StockBuddy is 100% free to use!</p>
  </div>
</div>
<div class="row">

</div>
<div class="row">
  <div class="medium-8 large-8 columns">
    <h3>Our Story</h3>
    <p>StockBuddy was born out of a need to effortlessly track stocks without the need to constantly check the price
      throughout the day.</p>
    <p>StockBuddy originally started as a single use application but once the potential was realized it became something
      more.</p>
    <p>We believe that stock information should be available to everyone. StockBuddy aims to lower the barriers to entry for all investors.</p>

    <h3>How it works</h3>
    <p>StockBuddy is free to use and the plan is to keep it that way. StockBuddy sustains itself via low cost hosting and ads.</p>
    <p>Stock prices are delayed 15 minutes from our provider and prices are updated for all stocks every minute. This allows us to keep costs down. We are working on getting realtime prices.</p>
    <p>As StockBuddy grows so do the possibilities of what it can offer. Thank you for being a part of this adventure!</p>
  </div>
  <div class="medium-4 large-4 columns text-center">
    <div class="panel">
      <div>
        <p>Don't have an account yet?</p>
        <%= link_to 'Sign up!', new_registration_path(User), class: 'medium button' %>
      </div>
      <div>
        <p>Already have an account?</p>
        <%= link_to 'Log in!', new_session_path(User), class: 'medium button' %>
      </div>
    </div>
  </div>
</div>

