<h2>Tour</h2>

<h4 id="intro">StockBuddy is incredibly easy to use. To help get you started here is a tour of the process to get
  the most from your StockBuddy.</h4>

<h3 id="step1">Step 1 - Searching</h3>
<div class="panel">
  <h5>Before you can watch stocks or configure stock alerts you need to add stocks to your watch list!</h5>
  <p>Stocks are added to the watch list by searching for them (via the search bar at the top of your screen). Once you
    search for a stock you will get results that will allow you to locate the stock you want to watch.</p>
</div>
<h3 id="step2">Step 2 - Watch a stock</h3>
<div class="panel">
  <h5>After searching for the stocks you are interested in it is time to watch them!</h5>
  <p>Once you have located the stock you want to watch click/tap 'Watch.' This will add the stock to your watch list and allow you to set custom stock alerts.</p>
</div>
<h3 id="step3">Step 3 - Set an Alert</h3>
<div class="panel">
  <h5>Once you have a few watched stocks you can begin to add alerts to them!</h5>
  <p>On the watched stock page, select the 'Actions' menu for the stock you want to set an alert for. Select 'Add Alert' which will allow you to create a stock alert. This allows you to set custom parameters to detect movements or changes in the stock you want to be notified about.</p>
</div>
<h3 id="step4">Step 4 - Set up Email and SMS</h3>
<div class="panel">
  <h5>What's the point of alerts if you can't be reached?</h5>
  <p>Once you have some alerts created you will probably want to be alerted once those custom alerts are triggered. Locate the 'My Account' menu option in the top right of your screen. Select 'Settings' and there you can configure whether you want email or SMS notifications. Email is enabled by default using your sign up email.</p>
</div>