<div class="panel">
  <div class="row">
    <!-- I18n copyright? -->
    <div class="small-12 columns">
      <ul class="inline-list">
        <li><%= link_to t('views.layouts.menu.options.home.label'), root_path %></li>
        <li><%= link_to t('views.devise.registrations.new.terms_of_service'), public_terms_of_service_path %></li>
        <li><%= link_to t('views.layouts.menu.options.tour.label'), public_tour_path %></li>
        <li><%= link_to t('views.layouts.menu.options.contact.label'), public_contact_path %></li>
      </ul>
    </div>
  </div>
</div>