<nav class="top-bar" data-topbar role="navigation">
  <%= render 'layouts/menu/title_area' %>

  <section class="top-bar-section">
    <% if user_signed_in? %>
        <%= render 'layouts/menu/user_signed_in_options' %>
    <% else %>
        <%= render 'layouts/menu/user_not_signed_in' %>
    <% end %>
  </section>
</nav>