<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= render 'application/favicon' %>

  <title><%= content_for?(:title) ? yield(:title) : 'StockBuddy' %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render 'layouts/menu' %>
<%= render 'layouts/notifications' %>
<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>
<br/>
<%= render 'layouts/footer' %>

<%= render 'layouts/google_analytics' %>
</body>
</html>
